{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
      "react",
      "jest"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jest/recommended"
  ]
}